HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Project ###
eventos/uploads/*.jpg
eventos/uploads/*.jpeg
eventos/uploads/*.png
eventos/uploads/*.webp

### VS Code ###
.vscode/

### Images of uploads ###
uploads/*.jpg
uploads/*.jpeg
uploads/*.png
uploads/*.webp
